<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>Upload some photos here!</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.firstName.label }}
            {{ form.firstName }}
            {{ form.lastName.label }}
            {{ form.lastName }}
            {{ form.email.label }}
            {{ form.email }}
            <input type="file" accept="image/*" multiple="multiple" name="file">
            {{ form.submit }}
        </form>
    </div>
</body>

</html>